@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

.item {
  border-radius: 22px;
  background-image: url("../src/Img/FooterBg.png");
}

.hero {
  background-image: url("../src//Img//Herp.png");
}
